<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head> -->
<% layout("/layouts/boilerplate") %>
    <!-- <body> -->
    <div class="row">
        <div class="col-8 offset-3"><br>
            <h3><%= data.title %></h3><br>
        </div>
        <div class="col-6 offset-3">
            <img src="<%= data.image %>" class="card-img-top card-img " alt="Property Image">
            <div class="card-body">
                <p class="card-text">
                     <br>
                    <%= data.description %> <br>
                    &#8377; <%= data.price.toLocaleString("en-IN") %> <br>
                    <%= data.location %> <br>
                    <%= data.country %>
                </p>
            </div>
        </div>

    </div>
    <div class="btns offset-3">
        <form action="/listings/<%= data._id %>/edit" method="GET">
            <button class="btn btn-dark add-btn mb-3">Update Info</button>
        </form><br>
        <form action="/listings/<%= data._id %>?_method=DELETE" method="POST">
            <button class="btn btn-dark">DELETE</button>
        </form>
    </div>
<hr>
<div class="row mb-3 mt-3">
    <div class="col-8 offset-3">
        <h3>Leave A FeedBack!!</h3>
        <form action="/listings/<%= data._id %>/reviews" method="POST" novalidate class="needs-validation">
            <div class="col-6">
                <label for="rating" class="form-label">Rating</label>
                <input id="rating" type="range" min="1" max="5" step="0.5" class="form-range" name="review[rating]">
            </div>
            <div>
                <label for="comment" class="form-label">Comments</label>
                <textarea name="review[comment]" id="comment" class="form-control" required></textarea>
                <div class="invalid-feedback">Please add some comment</div>
            </div>
            <button class="btn btn-outline-success mt-3">Submit</button>
        </form>
<hr>
        <h4>All Reviews!!</h4>
        <div class="row">
            <% for(review of data.reviews){ %>
                <div class="card col-5 mb-3 ms-3">
                    <div class="card-body">
                        <h5 class="card-title">Jane Doe</h5>
                        <p class="card-text"><b>Comment:</b> <%= review.comment %></p>
                        <p class="card-text"><b>Rating:</b> <%= review.rating %></p>
                        <form class="mb-3" action="/listings/<%= data._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-outline-danger">Delete</button>
                        </form>
                    </div>
                </div>
            <% } %>
        </div>

    </div>
</div>

    <!-- </body> -->
    <!-- </html> -->